    <form action='/event/new' method='post'>
      <input type='text' name='name' placeholder='Name'>
      <input type='text' name='location' placeholder='Location'>
      <input type='datetime' name='starts_at' placeholder='start date/time - '>
      <input type='datetime' name='ends_at' placeholder='end date/time'>
      <input type='submit' value='Create event!'>
    </form>